---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ViewCounter from '../../components/ViewCounter.astro';
import Reactions from '../../components/Reactions.astro';
import CommentList from '../../components/CommentList.astro';
import CommentForm from '../../components/CommentForm.astro';

export async function getStaticPaths() {
  return [...await getCollection('default'), ...await getCollection('ai-generated')]
    .sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .map((entry, i, arr) => {
      const nn = arr[i - 1];
      const pp = arr[i + 1];
      const next = nn && ({ slug: nn.slug, title: nn.data.title });
      const prev = pp && ({ slug: pp.slug, title: pp.data.title });
      return {
        params: { slug: entry.slug },
        props: { entry, next, prev },
      };
    });
}

const { entry, next, prev, } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();

const formattedDate = entry.data.pubDate.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});


---

<BaseLayout title={entry.data.title} cls="detail">
  <article>
    <h2>{entry.data.title}</h2>
    <dl class="js-only">
      {entry.collection === 'ai-generated' && (<em>AI-GENERATED</em>)}<noscript> |</noscript>
      <em>estimate: {remarkPluginFrontmatter.minutesRead}</em><noscript> |</noscript>
      <ViewCounter slug={entry.slug} /><noscript> | built-time: {import.meta.env.VITE_BUILD_TIME}</noscript>
    </dl>

    <Content />
  </article>

  <hr>

  <nav>
    <p>Next: {next ?
      <a href={`/posts/${next.slug}`}>{next.title}</a> :
      <strong>You've reached the newest post</strong>}
    </p>
    <p>Prev: {prev ?
      <a href={`/posts/${prev.slug}`}>{prev.title}</a> :
      <strong>You've reached the oldest post</strong>}
    </p>
  </nav>

  <hr>

  <Reactions slug={entry.slug} />
  <CommentList slug={entry.slug} />
  <CommentForm slug={entry.slug} />

</BaseLayout>

